#Release pip 24.0
# FastAPI и сервер для него
fastapi==0.96.0
uvicorn==0.22.0

# Telegram-бот
python-telegram-bot==20.4

# Загрузка переменных окружения из .env
python-dotenv==1.0.0

loguru==0.7.0


# *&---------------------------------------------------------------------*
# *& КРАТКАЯ ИНСТРУКЦИЯ ПО ЗАПУСКУ TG-бота на локальном компьютере                                    
# *&---------------------------------------------------------------------*
# * Шаг 1. Создание виртуального окружения                                 
# *    Команда: python -m venv new_venv                                   
# *    -> Создаёт изолированную папку new_venv (можно назвать как угодно). 
# *    -> Пакеты внутри окружения не затрагивают глобальные библиотеки.                              
# *                                                                       
# * Шаг 2. Разрешение выполнения скриптов в PowerShell                    
# *    Команда: Set-ExecutionPolicy RemoteSigned -Scope CurrentUser       
# *    -> Разрешает запуск локальных скриптов без подписи                  
# *    -> Требует подписи для скриптов из интернета                        
# *    -> Применимо только для текущего пользователя, другие не затрагивает        
# *                                                                       
# * Шаг 3. Активация виртуального окружения                               
# *    Команда: .\new_venv\Scripts\activate.ps1                            
# *    -> Обязательно ставьте точку и слеш в начале                        
# *    -> Перенастраивает python и pip на работу внутри new_venv          
# *    -> В приглашении появится префикс (new_venv)                                            
# *                                                                       
# * Шаг 4. Запуск ASGI‑сервера Uvicorn                                     
# *    Команда: uvicorn app.main:app --host 0.0.0.0 --port 8000           
# *    -> app.main:app указывает на модуль app/main.py и экземпляр app     
# *    -> --host 0.0.0.0 делает сервер доступным на всех интерфейсах      
# *    -> --port 8000 задаёт порт для входящих HTTP‑запросов                                  
# *                                                                       
# * Ваш TG успешно запущен и готов к работе.            #  
                   
